<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>Update CurvePoint</h2>
		</div>

		<div class="row">
			<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePointDto}" method="post" class="form-horizontal" style="width: 100%">
				<input th:field="*{curveId}" id="curveId" name="curveId" placeholder="curveId">
				<p th:if="${#fields.hasErrors('curveId')}" th:errorclass="error" th:errors="*{curveId}" />
				<input th:field="*{term}" id="term" name="term" placeholder="term">
				<p th:if="${#fields.hasErrors('term')}" th:errorclass="error" th:errors="*{term}" />
				<input th:field="*{value}" th:errorclass="fieldError"   id="value" name="value" placeholder="value">
				<p th:if="${#fields.hasErrors('value')}" th:errorclass="error" th:errors="*{value}" />
				<td>
					<button name="Save" class="btn btn-primary" type="submit" >Update</button>
					<button name="Cancel" class="btn btn-primary" th:href="@{/curvePoint/list}" >Cancel</button>
				</td>
			<!--
			TODO: Create a form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point
		-->
	</form>
</div>

</div>
</body>
</html>